In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("vine.csv", names=["review_id", "star_rating", "helpful_votes", "total_votes","vine","verified_purchase"])
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RJOVP071AVAJO,5.0,0.0,0.0,N,Y
1,R1ORGBETCDW3AI,5.0,0.0,0.0,N,Y
2,R7TNRFQAOUTX5,5.0,0.0,0.0,N,Y
3,R2GANXKDIFZ6OI,5.0,0.0,0.0,N,N
4,R2NYB6C3R8LVN6,5.0,2.0,2.0,N,Y

In [6]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count 
# is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having 
# division by zero errors later on.

total_votes_filter_df = df[df['total_votes']>20]
total_votes_filter_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
722,R3T6LR4H11XRAN,5.0,26.0,26.0,N,Y
942,R3QFNFMFWOQIBO,3.0,15.0,25.0,N,Y
1168,R24S2SV0ZIFIMV,1.0,41.0,78.0,N,N
1205,R2QAPWF1M5863L,1.0,5.0,23.0,N,N
1233,R3OCONKYE1A047,5.0,33.0,38.0,N,N

In [22]:
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows 
# where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

helpful_votes_filter_df = total_votes_filter_df[total_votes_filter_df['helpful_votes']/df['total_votes']>=.5]
helpful_votes_filter_df.head(20)

C:\Users\wells\AppData\Local\Temp\ipykernel_2788\4066242835.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  helpful_votes_filter_df = total_votes_filter_df[total_votes_filter_df['helpful_votes']/df['total_votes']>=.5]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
722,R3T6LR4H11XRAN,5.0,26.0,26.0,N,Y
942,R3QFNFMFWOQIBO,3.0,15.0,25.0,N,Y
1168,R24S2SV0ZIFIMV,1.0,41.0,78.0,N,N
1233,R3OCONKYE1A047,5.0,33.0,38.0,N,N
1329,R2U7YNJZ5JHWVD,5.0,23.0,25.0,N,Y
1516,R1XVYF74WCJKO3,1.0,47.0,49.0,N,N
1577,R3KKWNG5VABDYC,5.0,31.0,32.0,Y,N
1715,R3KK9MHFLY2BVW,5.0,21.0,22.0,N,N
1869,R2OEP8MGX5K370,5.0,30.0,34.0,N,Y
1984,RTX63ENBKWCXF,1.0,28.0,35.0,N,N
2120,R38I0D0J8O6LB6,5.0,101.0,102.0,N,Y
2252,R16H89H2ZPISOL,5.0,66.0,73.0,N,Y
2298,R1O92J5SV8J8G6,5.0,100.0,102.0,N,Y
4083,R2K2D1XN0J8SD5,4.0,19.0,21.0,N,Y
4387,RERKINI37W6KC,5.0,28.0,31.0,N,Y
4485,R9GDG4O1ZK10T,1.0,71.0,86.0,N,Y
4645,R3GOLJQC9OI7D4,4.0,28.0,28.0,N,Y
4688,R37RUX3TXFJN24,5.0,52.0,58.0,N,Y
4727,R1ESSNVJW3N2K4,5.0,42.0,45.0,N,Y
5028,R397PIJYYVJ7PD,4.0,31.0,32.0,Y,N

In [23]:
# Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where 
# a review was written as part of the Vine program (paid), vine == 'Y'.

in_vine_df = helpful_votes_filter_df[helpful_votes_filter_df['vine']=='Y']
in_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1577,R3KKWNG5VABDYC,5.0,31.0,32.0,Y,N
5028,R397PIJYYVJ7PD,4.0,31.0,32.0,Y,N
5930,RP6Y2CTIFUYD0,2.0,31.0,32.0,Y,N
6655,R1FYRNM5U0S2VZ,3.0,20.0,24.0,Y,N
19008,R1ME19UY4UNAO,5.0,53.0,57.0,Y,N

In [24]:
not_in_vine_df = helpful_votes_filter_df[helpful_votes_filter_df['vine']=='N']
not_in_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
722,R3T6LR4H11XRAN,5.0,26.0,26.0,N,Y
942,R3QFNFMFWOQIBO,3.0,15.0,25.0,N,Y
1168,R24S2SV0ZIFIMV,1.0,41.0,78.0,N,N
1233,R3OCONKYE1A047,5.0,33.0,38.0,N,N
1329,R2U7YNJZ5JHWVD,5.0,23.0,25.0,N,Y

In [25]:
len(in_vine_df.index)

4726

In [26]:
in_vine_df.loc[in_vine_df['star_rating'] == 5]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1577,R3KKWNG5VABDYC,5.0,31.0,32.0,Y,N
19008,R1ME19UY4UNAO,5.0,53.0,57.0,Y,N
37891,RCLSDAIJR6FUG,5.0,113.0,123.0,Y,N
46213,R3TPSU0ZG7K5RA,5.0,34.0,37.0,Y,N
48538,R2TSF7WN3DY921,5.0,22.0,26.0,Y,N
...,...,...,...,...,...,...
10291866,R2MX54NUKWXT0B,5.0,31.0,32.0,Y,N
10292067,R3G484IKZR06TZ,5.0,87.0,91.0,Y,N
10306409,R3W2HB6GWEGBPG,5.0,19.0,21.0,Y,N
10309180,R1LKXDQLN87YLF,5.0,22.0,25.0,Y,N
10318870,R310GKU11BZTLS,5.0,115.0,123.0,Y,N

In [32]:
len(in_vine_df.loc[in_vine_df['star_rating'] == 5])

1911

In [27]:
percent_5_star_in_vine = len(in_vine_df.loc[in_vine_df['star_rating'] == 5])/len(in_vine_df.index)
percent_5_star_in_vine

0.4043588658484977

In [28]:
len(not_in_vine_df.index)

102218

In [29]:
not_in_vine_df.loc[not_in_vine_df['star_rating'] == 5]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
722,R3T6LR4H11XRAN,5.0,26.0,26.0,N,Y
1233,R3OCONKYE1A047,5.0,33.0,38.0,N,N
1329,R2U7YNJZ5JHWVD,5.0,23.0,25.0,N,Y
1715,R3KK9MHFLY2BVW,5.0,21.0,22.0,N,N
1869,R2OEP8MGX5K370,5.0,30.0,34.0,N,Y
...,...,...,...,...,...,...
10318515,R22MAB2QCZKW76,5.0,226.0,229.0,N,N
10318538,R19S7YH3XBUMO1,5.0,23.0,27.0,N,N
10318653,R2B0PUHSUZJ0UZ,5.0,22.0,25.0,N,Y
10318658,R10LC7PZ8UFJ3G,5.0,53.0,54.0,N,Y
10318660,RGBC69L80A3QF,5.0,23.0,28.0,N,N

In [33]:
len(not_in_vine_df.loc[not_in_vine_df['star_rating'] == 5])

46599

In [38]:
percent_5_star_not_in_vine = len(not_in_vine_df.loc[not_in_vine_df['star_rating'] == 5])/len(not_in_vine_df.index)
percent_5_star_not_in_vine

0.45587861237746774